# Python cache
**/__pycache__/
**/*.pyc
*.py[cod]
*.pyo

# Ambiente virtual
.venv/

# Configs locais
.env
.vscode/
.backup

# Database
*.db
*.sqlite3

# VS Code notebooks metadata
.ipynb_checkpoints/

# Poetry
# poetry.lock  # Remova o comentário se quiser versionar o poetry.lock

# Testes
.coverage
htmlcov/

# Outros
*.egg-info/
*.log
*.ipynb

# Temp files
all_files.csv
all_files.py
